body {
    background: #000;
    color: #fff;
    font-family: Arial, sans-serif;
}

a {
    color: #5e8eff; 
    text-decoration: none;
}

a:hover {
    color: #0073ff; 
}

.container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100vh;
    padding: 20px;
    box-sizing: border-box;
}

.info, .labs {
    background: rgba(255, 255, 255, 0.1);
    border-radius: 10px;
    backdrop-filter: blur(10px);
    border: 1px solid rgba(255, 255, 255, 0.2);
    padding: 20px;
    margin-bottom: 20px;
    width: 100%;
    max-width: 500px;
    box-sizing: border-box;
}

.info h1, .labs h2 {
    margin: 0 0 10px 0;
    padding: 0;
    color: #FFFFFF;
}

.info p, .labs p {
    margin: 0 0 10px 0;
    padding: 0;
    color: #FFFFFF;
}

#toggleLabs {
    background: rgba(255, 255, 255, 0.1);
    color: #fff;
    border: 1px solid rgba(255, 255, 255, 0.2);
    border-radius: 5px;
    padding: 10px 20px;
    cursor: pointer;
    margin-bottom: 20px;
    transition: all 0.3s ease;
    font-size: 1.2em;
    font-weight: bold;
    backdrop-filter: blur(10px);
}

#toggleLabs:hover {
    background: rgba(255, 255, 255, 0.13);
    box-shadow: 0 0 10px rgba(255,255,255,0.2);
}

.lab {
    margin-bottom: 20px;
    color: #FFFFFF;
}

.repo-card {
    background: rgba(255, 255, 255, 0.1);
    border-radius: 10px;
    backdrop-filter: blur(10px);
    border: 1px solid rgba(255, 255, 255, 0.2);
    padding: 20px;
    margin-bottom: 20px;
    transition: 0.5s ease;
  }

  .repo-card {
    margin-bottom: 10px;
    color: #FFFFFF;
  }

  .repo-card:hover {
    background: rgba(255, 255, 255, 0.13);
    box-shadow: 0 0 10px rgba(255,255,255,0.2);
  }


  .projects {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    gap: 1rem 1rem;
    margin-top: 25px;
    color: rgba(255, 255, 255, 0.1);
  }